<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">	<!-- Logback 구현체가 설정을 확인하는 주기 -->
	<property name="moduleId" value="minhyuk_study"/> <!-- moduleId는 프로젝트가 설치된 폴더명 또는 구분할 수 있는 식별자이면 됨 -->
 	<property name="type" value="spring_boot_study"/> <!-- 로그파일명을 구성하는 인자 -->
 	<property name="logback" value="logback"/> <!-- log를 저장할 최종 디렉토리명 -->
 	<property name="logdir" value="C:\Users\rumsk\eclipse-workspace\LogFiles"/>
 	
 	<!-- Appenders -->
 	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
 		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
 			<level>DEBUG</level>
 		</filter>
 		<encoder>
 			<!-- [시간] [-5=문자길이  증폭값  level] [thread이름] logger이름 메세지 줄바꿈-->
 			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{20} %msg%n</pattern>
 		</encoder>
 	</appender>
 	
 	<!-- Root Logger /appender이름과 매칭되어야 한다. -->
 	<root level="INFO">
 		<appender-ref ref="console"/>
 	</root>
 	
</configuration>